# --- azure-search-ai-rag.py ---
AZURE_SEARCH_URL=https://<your-search-service>.search.windows.net
AZURE_SEARCH_KEY=
AZURE_OPEN_AI_URL=https://<your-resource>.openai.azure.com
AZURE_OPEN_AI_KEY=

# --- azure-search-asservice.py ---
AZURE_SEARCH_INDEX_NAME=knowledge-inference-idx
AZURE_SEARCH_INDEXER_NAME=
AZURE_AI_SEARCH_ENDPOINT=https://<your-search-service>.search.windows.net
AZURE_AI_SEARCH_KEY=
AZURE_OPEN_AI_ENDPOINT=https://<your-resource>.openai.azure.com
AZURE_OPEN_AI_KEY=
OPEN_AI_API_KEY=
AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=
